{% extends "base.html" %}

{% block title %} Transfer records {% endblock %}

{% block content %}
<div class="nav">
    <h2>– TRANSFER RECORDS –</h2>
    <table class="content-nav">
        <thead>
        <tr>
            <td>#</td>
            <td>player</td>
            <td>from</td>
            <td>to</td>
            <td>
                transfer fee, <br/>
                mill. euro
            </td>
            <td>
                season
            </td>
        </tr>
        </thead>
    </table>
</div>
<div class="latest-transfers">
    <table class="top-players">
        {% for t in transfers %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ t.player.name }}</td>
            <td>{{ t.old_club.name }}</td>
            <td>{{ t.new_club.name }}</td>
            <td>{{ t.price }}</td>
            <td>{{ t.season.name }}</td>
        </tr>
        {% endfor %}
    </table>
    <hr>
    <p>It is a list of the most expensive transfers of all time. The minimum transfer value is 50 million euro.</p>
</div>
{% endblock %}
